
.index-container-1 {
    width: 100vw;
    height: 100vh;
    background-color: rgb(21, 24, 21);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.user-container {
    display: block;
    width: 100vw;
    background-color: black;
    min-height: 2.25rem;

    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.user-button {
    margin: 0;
    display: block;
    min-height: 2rem;
    max-height: 95%;
    user-select: none;

    margin-left: 1rem;
    padding: 0.3rem;
    border: none;
    border-radius: 0.5rem;

    background-color: rgb(20, 111, 141);
    color: lightblue;
    font-weight: bolder;
    &:hover {
        cursor: pointer;
        background-color: rgb(10, 83, 107);
    }
}

.floating-navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    user-select: none;
    text-decoration: none;
    list-style-type: none;
    li {
        margin: 1.5rem;
        padding: 1rem;
        text-indent: none;
        display: inline-block;
        text-align: center;
        font-weight: bolder;
        color: lightblue;
        &:not([disabled]):hover {
            cursor: pointer;
            background-color: rgb(33, 38, 33);
            border-radius: 0.5rem;
        }
        &:disabled {
            text-decoration-line: underline;
        }
    }
}


@media screen and (max-width: 1080px) {
    html, body {
        overflow-x: none;
    }
    .user-container {
        height: 3vh;
    }
    .floating-navbar {
        font-size: 1.2rem;
    }
}
