
.toggle {
    margin-left: 10%;
    margin-top: 20%;
    &:last-of-type {
        margin-left: 20%;
    }
}

@media screen and (max-width: 1080px) {
    html, body {
        overflow-x: none;
    }
    .page-title {
        margin-top: -10.5rem;
    }
    .version {
        margin-top: -9.5rem;
        margin-left: 0;
    }
    .container-1, .container-2 {
        width: 100vw;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        border-left: none;
        border-right: none;
    }
    .request-container {
        margin-left: 0;
    }
    .navbar {
        padding: 0;
        max-width: 100%;
        font-size: 1rem;
    }
    .searchbar {
        width: 80%;
    }
    .options-container-1 {
        width: 100vw;
        padding: 0;
    }
    .search-error-card {
        margin-left: 0;
    }
    .requests {
        margin-left: 0;
        padding: 0;
    }
    .request-card {
        max-width: 100vw;
        margin-left: 0;
        margin: 0;
    }
    .request-title {
        max-width: 100vw;
    }
}
