html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.nav-container {
    margin: auto;
    padding: 0;
    display: block;
    user-select: none;
    width: 95vw;
    background-color: black;
}

.user-button {
    margin: 0;
    display: inline-block;
    min-height: 2rem;
    max-height: 95%;
    user-select: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    margin-left: 0.5rem;
    padding: 0.3rem;
    border: none;
    border-radius: 0.75rem;

    background-color: rgb(19, 148, 191);
    color: white;
    font-weight: bolder;
    &:hover {
        cursor: pointer;
        background-color: rgb(16, 113, 145);
        color: lightblue;
    }
}

.nav-button {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: inline-block;
    background-color: black;
    color: white;
    border: none;
    font-weight: bolder;
    &:disabled {
        text-decoration-line: underline;
        text-underline-offset: 0.55rem;
        text-decoration-thickness: 15%;
        color: rgb(25, 172, 221);
    }
    &:not([disabled]):hover {
        cursor: pointer;
        background-color: rgb(41, 41, 41);
    }
}

.index-container-1 {
    margin: auto;
    padding: 0;
    width: 95vw;
    height: 90vh;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.index-title-1 {
    display: block;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    color: black;
}

.searchbar {
    margin-top: 3rem;
    border: none;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    height: 2.5rem;
    background-color: rgb(223, 223, 223);
    width: 30vw;
    &:focus {
        outline: none;
    }
}

.index-options-container {
    display: block;
    margin: auto;
    margin-top: 3rem;
    width: 30vw;
    background-color: rgb(244, 244, 244);
    color: rgb(90, 90, 90);
    border-radius: 1rem;
    padding-bottom: 0.5rem;
}

.index-options-container-title {
    display: block;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(223, 223, 223);
    color: rgb(90, 90, 90);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.options-multiple {
    label {
        display: inline-block;
    }
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.box-button {
    display: inline-block;
    margin: 0;
    padding: 0.5rem;
    background-color: rgb(223, 223, 223);
    color: rgb(90, 90, 90);
    border: none;
    border-radius: 0rem;
    &:not([disabled]):hover {
        cursor: pointer;
        background-color: rgb(208, 206, 206);
    }
    &:disabled {
        background-color: rgb(25, 172, 221);
        color: white;
    }
    &:first-of-type {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }
    &:last-of-type {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

.search-button {
    margin: auto;
    margin-top: 2rem;
    padding: 0;
    display: block;
    width: 30vw;
    font-size: 1.2rem;
    font-weight: bolder;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(25, 172, 221);
    color: white;
    &:not([disabled]):hover {
        cursor: pointer;
        background-color: rgb(24, 161, 207);
        color: aliceblue;
    }
}

.data-text {
    visibility: hidden;
}

@media screen and (max-width: 1080px) {
    .nav-container {
        width: 98vw;
    }
    .index-container-1 {
        width: 98vw;
        height: 80vh;
    }
    .nav-button {
        font-size: 1.2rem;
    }
    .searchbar {
        width: 85vw;
        height: 2rem;
    }
    .index-options-container {
        width: 90vw;
    }
    .box-button {
        font-size: 1.2rem;
    }
    .search-button {
        width: 90vw;
    }
}
