
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: rgb(12, 11, 11);
    overflow: scroll;
    scrollbar-color: rgba(0, 217, 255, 0) rgba(17, 101, 116, 0);


    .btn {
        margin: auto;
        display: block;
        width: 6rem;
        border: none;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;

        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        border-radius: 0.3rem;
        margin-top: 2rem;
        background-color: rgb(32, 105, 168);
        color: rgb(173, 217, 255);
        transition: 0.05s;
        &:hover:not([disabled]) {
            cursor: pointer;
            background-color: rgb(20, 64, 102);
            color: rgb(125, 180, 228);
            transition: 0.05s;
        }
        &:active:not([disabled]) {
            background-color: rgb(11, 35, 56);
            color: rgb(63, 163, 250);
        }
        &:disabled {
            background-color: rgb(22, 122, 72);
            color: white;
            &:hover {
                cursor: default;
            }
        }
    }

    /* LOGIN PAGE */
    .login-body {
        margin: auto;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top: 2rem;
        border-radius: 2rem;
        background-color: rgb(17, 19, 17);
        padding-bottom: 5rem;
        padding-top: 10rem;
        width: 72rem;
        filter: drop-shadow(0 0 0.75rem rgba(39, 39, 39, 0.63));
        .login-card {
            margin: auto;
            padding: 0;
            padding-top: 1rem;
            padding-bottom: 6rem;

            width: 30rem;
            background-color: rgb(29, 34, 31);
            border-radius: 0.5rem;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
            h2 {
                color: rgba(173, 255, 221, 0.623);
                user-select: none;
            }
            hr {
                margin: 2rem;
                color: rgba(173, 255, 221, 0.623);
            }
            input[type=text] {
                margin: 0;
                padding: 0;
                border: none;
                width: 15rem;
                padding-left: 0.3rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                border-radius: 0.3rem;
                background-color: rgb(35, 43, 37);
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 1rem;
                color: rgba(173, 255, 221, 0.623);
                &:focus {
                    outline: none;
                }
            }
            input[type=password] {
                margin: 0;
                padding: 0;
                border: none;
                width: 15rem;
                padding-left:0.3rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                border-radius: 0.3rem;
                background-color: rgb(35, 43, 37);
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 1rem;
                color: rgba(173, 255, 221, 0.623);

                margin-top: 1rem;
                &:focus {
                    outline: none;
                }
            }
            input[type=submit] {
                margin: 0;
                padding: 0;
                border: none;
                float: right;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 1.2rem;
                filter: drop-shadow(0 0 0.75rem rgba(39, 39, 39, 0.541));
                padding-top: 0.6rem;
                padding-bottom: 0.6rem;
                padding-left: 1.2rem;
                padding-right: 1.2rem;
                border-radius: 0.3rem;
                margin-top: 2rem;
                margin-right: 1rem;
                background-color: rgb(20, 92, 50);
                color: rgba(173, 255, 221, 0.623);
                &:hover {
                    cursor: pointer;
                    background-color: rgb(41, 100, 54);
                    color: rgba(173, 255, 221, 0.486);
                }
                &:active {
                    background-color: rgb(43, 84, 45);
                    color: rgb(94, 250, 63);
                }
            }
        }
    }
    /* INDEX PAGE */
    .index-body {
        margin-top: 3rem;
        border-radius: 2rem;
        background-color: rgb(10, 62, 78);
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: relative;
        z-index: 0;
        .index-title {
            position: absolute;
            z-index: 0;
            margin-top: -3.5rem;
            margin-left: 1rem;
            color: rgb(173, 217, 255);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2rem;
        }
        .menu-card {
            display: block;
            margin-left: 50rem;
            position: absolute;
            z-index: 2;
            width: 40rem;
            padding-top: 2rem;
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
            background-color: rgb(32, 113, 143);
            border-radius: 1rem;
            .menu-body {
                background-color: rgb(14, 49, 61);
                text-align: center;
                color: rgb(173, 217, 255);
                padding-bottom: 2rem;
                border-bottom-right-radius: 1rem;
                border-bottom-left-radius: 1rem;
                .menu-title {
                    display: block;
                    user-select: none;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.3rem;
                    color: rgb(173, 217, 255);
                    padding-top: 1rem;
                }
                .option-btn {
                    margin: auto;
                    display: block;
                    width: 20rem;
                    user-select: none;

                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.2rem;

                    padding-top: 0.6rem;
                    padding-bottom: 0.6rem;
                    padding-left: 1.2rem;
                    padding-right: 1.2rem;
                    border-radius: 0.3rem;
                    margin-top: 2rem;
                    background-color: rgb(32, 105, 168);
                    color: rgb(173, 217, 255);
                    transition: 0.05s;
                    &:hover {
                        cursor: pointer;
                        background-color: rgb(20, 64, 102);
                        color: rgb(125, 180, 228);
                        transition: 0.05s;
                    }
                    &:active {
                        background-color: rgb(11, 35, 56);
                        color: rgb(63, 163, 250);
                    }
                }
            }
        }
        .submit-card {
            width: 20rem;
            margin: auto;
            padding-top: 1rem;
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
            background-color: rgb(32, 113, 143);
            border-radius: 1rem;
            font-family: Arial, Helvetica, sans-serif;
            position: absolute;
            z-index: 3;
            display: none;
            .submit-body {
                background-color: rgb(14, 49, 61);
                text-align: center;
                color: rgb(173, 217, 255);
                padding-bottom: 2rem;
                border-bottom-right-radius: 1rem;
                border-bottom-left-radius: 1rem;
                h3 {
                    padding-top: 1rem;
                    font-family: Arial, Helvetica, sans-serif;
                }
                .artist-entry {
                    border: none;
                    padding: 0.5rem;
                    width: 10rem;
                    background-color: rgb(9, 31, 39);
                    color: rgb(173, 217, 255);
                }
            }
        }
        .new-request-container {
            display: inline-block;
            min-height: 50rem;
            max-height: 50rem;
            width: 62rem;
            overflow-y: auto;
            background-color: rgb(9, 54, 68);
            margin: 0;
            max-height: 50rem;
            overflow-y: auto;
            border-radius: 1rem;
            border-top-left-radius: 0rem;
            border-bottom-left-radius: 0rem;
            margin-left: 0.5rem;
            position: absolute;
            z-index: 1;
            .results-options-container {
                user-select: none;
                color: rgb(173, 217, 255);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1rem;
                padding: 0.5rem;
                background-color: rgb(11, 39, 48);
                border-radius: 0.5rem;
                min-height: 10rem;
            }
        }

    /* RESULTS PAGE */
    .results-body {
        margin-top: 3rem;
        margin-bottom: 2rem;
        border-radius: 2rem;
        background-color: rgb(10, 62, 78);
        padding-bottom: 1rem;
        padding-top: 1rem;
        color: rgb(173, 217, 255);
        .artist {
            background-color: rgb(7, 43, 54);
            margin: auto;
            width: 97rem;
            text-align: left;
            border-top-left-radius: 3rem;
            border-top-right-radius: 3rem;
            img {
                display: block;
                width: 15rem;
                height: 15rem;
                border-top-left-radius: 3rem;
            }
            label {
                float: left;
                margin-left: 15.5rem;
                margin-top: -10rem;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 3.5rem;
                font-weight: bold;
                user-select: none;
            }
        }
        .artist-body {
            padding-top: 0.4rem;
            padding-bottom: 2rem;
            border-bottom-right-radius: 3rem;
            border-bottom-left-radius: 3rem;
            margin: auto;
            display: block;
            width:  97rem;
            background-color: rgb(4, 27, 34);
            .discography {
                background-color: rgb(7, 43, 54);
                margin-left: 0.5rem;
                margin-top: 0.1rem;
                padding: 1rem;
                width: 51rem;
                border-radius: 1rem;
                max-height: 40rem;
                overflow-y: auto;
            }
            .other-body {
                background-color: rgb(7, 43, 54);
                width: 40.5rem;
                border-radius: 1rem;
                padding: 1rem;
                float: left;
                margin-left: 54rem;
                margin-top: -42rem;
                min-height: 40rem;
                max-height: 40rem;
                overflow-y: auto;
                .top-tracks {
                    .top-tracks-title {
                        user-select: none;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 2rem;
                    }
                    .top-track {
                        margin-top: 0.5rem;
                        background-color: rgb(12, 72, 90);
                        display: block;
                        padding: 0;
                        border-radius: 0.3rem;
                        width: 22rem;
                        img {
                            display: block;
                            user-select: none;
                            width: 3rem;
                            height: 3rem;
                            border-top-left-radius: 0.3rem;
                            border-bottom-left-radius: 0.3rem;
                        }
                        label {
                            font-family: Arial, Helvetica, sans-serif;
                            user-select: none;
                            float: left;
                            margin-left: 3rem;
                            margin-top: -2rem;
                        }
                    }
                }
            }
        }
        .album {
            margin-left: 0.5rem;
            width: 50rem;
            margin-top: 0.5rem;
            .album-title {
                display: block;
                border-radius: 0.5rem;
                padding: 0;
                background-color: rgb(12, 72, 90);
                width: 50rem;
                img {
                    user-select: none;
                    display: block;
                    margin-top: 0rem;
                    width: 10rem;
                    height: 10rem;
                    border-top-left-radius: 0.5rem;
                    border-bottom-left-radius: 0.5rem;
                }
                label {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.6rem;
                    margin-top: -6rem;
                    margin-left: 10.5rem;
                    float: left;
                    user-select: none;
                    &:hover {
                        cursor: pointer;
                    }
                }
                &:hover {
                    background-color: rgb(8, 53, 66);
                    cursor: pointer;
                }
            }
            .tracks {
                .track {
                    user-select: none;
                    font-family: Arial, Helvetica, sans-serif;
                    padding: 0.5rem;
                    padding-left: 0;
                    padding-right: 0;
                    display:  none;
                    width: 50rem;
                    background-color: rgb(14, 88, 110);
                    &:last-of-type {
                        border-bottom-right-radius: 0.5rem;
                        border-bottom-left-radius: 0.5rem;
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: rgb(14, 76, 95);
                    }
                }
                border-bottom-right-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
            }
        }
    }
    }
}