<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/ui.css">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <head>
        <title>DIGGITYDOGGSERVER</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="index-container-1">
            <div class="user-container">
                <input type="button" class="user-button" value="{{user}}">
            </div>
            <ul class="floating-navbar"><li id="home">Search</li><li>Add URL</li><li>Previous</li></ul>
        </div>
    </body>
    <script type="text/javascript" src="/static/index.js"></script>
</html>
